.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    border-radius: 50%;
}
.dropdown-menu{
    transform: translate3d(-110px, -70px, 0px) !important;
}
li {
    list-style-type: none;
  }
  