<div class="container">
    <div *ngFor="let user of no_of_users; let i=index" class="card shadow m-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                  <li><small class="text-muted">Name</small></li>
                  <li>{{ user.name }}</li>
                </div>
                <div class="col-md-3">
                  <li><small class="text-muted">Email</small></li>
                  <li>{{user.email}}</li>
                </div>
                <div class="col-md-2">
                  <li><small class="text-muted">Address</small></li>
                  <li>{{ user.address }}</li>
                </div>
                <div class="col-md-2">
                  <li><small class="text-muted">Country</small></li>
                  <li>{{ user.country}}</li>
                </div>
                <div class="col-md-2">
                  <li><small class="text-muted">City</small></li>
                  <li>{{ user.city}}</li>
                </div>
                <div class="dropdown col-md-2">
                    <i class="bi bi-three-dots-vertical p-5" data-bs-display="static" data-bs-toggle="dropdown"
                        id="dropdownMenuButton1" aria-expanded="false" style="color: black;"></i>
                    <div class="dropdown-menu" data-bs-display="static" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-item" (click)="removeList(i)">Remove</div>
                        <div class="btn btn-secondary dropdown-item" (click)="edit(i)">Edit</div>
                    </div>
                </div>
              </div>

           
        </div>
    </div>

</div>



